
.bck-img{
    -fx-background-image: url("../image/background.png"),url(../image/black.png);
    -fx-background-repeat: no-repeat,no-repeat;
    -fx-background-size: cover, 110px;
    -fx-background-position: center, center;
}

.entrance-btn{
    -fx-background-color: #ffc000;
    -fx-background-radius: 30;
    -fx-heigth:50px;
    -fx-padding: 0 0 20px 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.entrance-btn:hover{
    -fx-effect:none;

}