@font-face {
    src: url('../font/IRANSansRegular.ttf');
}
@font-face {
    font-family: 'IRANSansBold';
    src: url('../font/IRANSansBold.ttf');
}
@font-face {
    src: url('../font/BKoodakBold.TTF');
}

.bck-img{
    -fx-background-image: url("../image/background.png"),url(../image/logo.png);
    -fx-background-repeat: no-repeat,no-repeat;
    -fx-background-size: cover, 110px;
    -fx-background-position: center, center;
}

.entrance-btn{
    -fx-font-size: 40px;
    -fx-background-color: #ffc000;
    -fx-background-radius: 30;
    -fx-heigth:50px;
    -fx-padding: 0 0 20px 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.entrance-btn:hover{
    -fx-effect:none;
}
.ditails-lable{
}
.divar-lable{
    -fx-color:#ffc000;
}