.user{
    -fx-background-color: #fff;
}
.user:hover{
    -fx-background-color: #d4d4d4;
}

.counter{
    -fx-background-color: #c0392b;
    -fx-background-radius: 50;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}
.background{
    -fx-background-image: url(/Client/src/main/resources/com/example/image/Wallpaper.jpg);
}
